.button{
    background-color: #fff !important;
    line-height: 2.5 !important;
    font-size: 13px !important;
    width: 94% !important;
    margin-left: 3% !important;

}
.subDay{
    position: absolute;
    left: 10;
    top: 55px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
.subDayOut{
    position: absolute;
    left: 10px;
    top: 55px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
.subDayHide{
    display: none !important;
}

@media only screen and (max-width : 639px) {
    .subDayOut{
        left: -130px;
    }
}