html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.rdp-day_selected{
  background-color: #fff !important;
  color: #000 !important;
}
.rdp-day_today{
  background-color: #fff !important;
  color: #000 !important;
  font-weight: 400 !important;
  
}
.rdp-day_today:hover{
background-color: #e7edff !important;
}
